@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.form{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 624rem;
	margin: 0 auto;
	
		&-step{
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-top: 70rem;
			
				&-title{
					font: var(--font-heading-h4);
					text-align: center;
				}

				&-body{
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 20rem;
					max-width: 406rem;
					margin: 0 auto;
					padding: 40rem 0;
					
						&.checkboxes{
							gap: 12rem;
						}
				}
		}
	
		&-slider{
			position: relative;
			padding: 0 0 38rem;
			
				&-dots{
					position: absolute;
					top: -5rem;
					left: 50%;
					display: flex !important;
					gap: 87rem;
					align-items: center;
					transform: translateX(-50%);
					pointer-events: none;
					
						li{
							position: relative;
							padding: 4rem;
							background-color: var(--color-white);
							border-radius: 50%;
						}
				}
		}
	
		&-navigation{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	
		&-action{
			position: absolute;
			right: 0;
			bottom: 0;
			
				&-icon{
					position: relative;
					width: 18rem;
					height: 18rem;
				}
		}
	
		&-error{
			position: absolute;
			bottom: 16rem;
			color: var(--color-secondary-red);
			font: var(--font-body-sm);
				
				&.static{
					position: relative;
					bottom: 0;
					text-align: center;
				}
		}
}

.dot-item{
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30rem;
	height: 30rem;
	color: var(--color-gray-50);
	font-size: 12rem;
	font-family: var(--font-primary-medium);
	background-color: var(--color-white);
	border: 1rem var(--color-gray-50) solid;
	border-radius: 50%;
	transition:  all var(--transition-duration-button) var(--transition-easing-button);
}

.hidden{
	opacity: 0;
	transition: opacity var(--transition-duration-button) var(--transition-easing-button);
	pointer-events: none;
}