@import "global";
@import "library";

html{
	font-size: calc(100vw / 1440);
	
		@media only screen and (width <= $lg-max) {
			font-size: calc(100vw / 1380);
		}
	
	@media only screen and (width <= $md-max) {
		font-size: calc(100vw / 900);
	}
	
		@media only screen and (width <= $sm-max) {
			font-size: calc(100vw / 375);
		}
}

body{
	color: var(--color-black);
	font: var(--font-body-xl);
	background-color: var(--color-gray-5);
}

.content-block{
	padding: 0 80rem;
	
		@include maxWidth($md-max){
			padding: 0 16rem;
		}
	
		@include maxWidth($sm-max){
			padding: 0 16rem;
		}
}

.slick-dots{
	display: flex !important;
	gap: 6rem;
	align-items: center;
	justify-content: center;
	margin-top: 23rem;
	
		li{
			position: relative;
			display: inline-block;
			width: 30rem;
			height: 4rem;
			background-color: var(--color-gray-50);
			border-radius: 30px;
			transition: var(--transition-duration-button) var(--transition-easing-button);
			
				&.slick-active{
					background-color: var(--color-primary-dark-blue);
				}
			
				button{
					position: absolute;
					font-size: 0;
					inset: 0;
					opacity: 0;
				}
		}
}

.reviews-carousel{
		.slick-list{
			@include maxWidth($sm-max){
				padding-left: 22rem !important;
			}
		}
}

.informBox{
	& + .footer-abstract{
		bottom: -282rem;
			
			@include maxWidth($sm-max){
				bottom: -145rem;
			}
	}
}