.section{
	padding-bottom: 60rem;
	
		&-box{
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 60rem 0 58rem;
			background-color: var(--color-white);
			background-image: url('/abstract/CTA-abstract-desktop.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			border: 1rem var(--color-primary-dark-blue) solid;
			border-radius: 40px;
			row-gap: 24rem;
		}
	
		&-title{
		
		}
	
		&-description{
			max-width: 600rem;
			margin: 0 auto;
			text-align: center;
		}
		
		&-action{
			margin-top: 16rem;
		}
}