@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-white);
  border: 1rem solid var(--color-gray-20);
  border-radius: 12px;
  overflow: hidden;
  transition: all var(--transition-duration-button) var(--transition-easing-button);
  
  @include hover($md-max) {
    &:hover {
      border-color: var(--color-primary-dark-blue);
      box-shadow: 0 8rem 24rem rgba(0, 0, 0, 0.1);
      transform: translateY(-4rem);
    }
  }
  
  &-image {
    position: relative;
    width: 100%;
    height: 300rem;
    background-color: var(--color-gray-5);
    overflow: hidden;
    
    @include maxWidth($sm-max) {
      height: 250rem;
    }
    
    &-item {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: transform var(--transition-duration-button) var(--transition-easing-button);
      
      @include hover($md-max) {
        .card:hover & {
          transform: scale(1.05);
        }
      }
    }
  }
  
  &-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16rem;
    padding: 24rem;
    
    @include maxWidth($sm-max) {
      gap: 12rem;
      padding: 20rem;
    }
  }
  
  &-title {
    font-size: 20rem;
    font-family: var(--font-primary-medium);
    line-height: 1.3;
    color: var(--color-primary-dark-blue);
    
    @include maxWidth($sm-max) {
      font-size: 18rem;
    }
  }
  
  &-description {
    flex-grow: 1;
    font-size: 14rem;
    line-height: 1.6;
    color: var(--color-gray-70);
    
    @include maxWidth($sm-max) {
      font-size: 13rem;
    }
  }
  
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 16rem;
    border-top: 1rem solid var(--color-gray-10);
    
    @include maxWidth($sm-max) {
      flex-direction: column;
      gap: 12rem;
      align-items: stretch;
      padding-top: 12rem;
    }
  }
  
  &-price {
    font-size: 24rem;
    font-family: var(--font-primary-medium);
    color: var(--color-primary-dark-blue);
    
    @include maxWidth($sm-max) {
      font-size: 20rem;
      text-align: center;
    }
  }
  
  &-button {
    @include maxWidth($sm-max) {
      width: 100%;
    }
  }
}
