@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.section{
		&-cards{
			width: 100%;
			margin-top: -15rem;
			margin-bottom: -15rem;
			
				@include maxWidth($sm-max){
					width: auto;
					margin: 0 -16rem;
				}
				
				&-slide{
					@include maxWidth($sm-max){
						margin: 0 16rem;
					}
				}
		}
}