@import "@/styles/global/mixins";
@import "@/styles/library/grid/variables/grid-variables";

.header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 17rem 0;
	transition: background-color var(--transition-duration-button) var(--transition-easing-button), padding var(--transition-duration-button) var(--transition-easing-button);
	
		@include maxWidth($sm-max){
			padding: 16rem 0;
		}
	
		&.is-scrolling{
			padding: 16rem 0;
			background-color: var(--color-gray-10);
		}
	
		&-panel{
			display: flex;
			align-items: center;
			justify-content: space-between;
			
				&-logo{
					position: relative;
					width: 183rem;
					height: 40rem;
					z-index: 1;
					
						@include maxWidth($sm-max){
							width: 137rem;
							height: 30rem;
						}
				}
			
				&-nav{
					display: flex;
          gap: 25rem;
					
						@include maxWidth($md-max){
							//display: none;
							position: fixed;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							background-color: var(--color-white);
							flex-direction: column;
							justify-content: space-between;
							padding: 62rem 16rem 40rem;
						}
				}
		}
	
		&-navigation,
		&-actions{
			display: flex;
			align-items: center;
		}
	
		&-navigation{
      gap: 20rem;
			
				@include maxWidth($md-max){
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 0;
				}
			
				li{
						@include maxWidth($md-max){
							width: 100%;
						}
				}
    }
	
		&-actions{
			gap: 8rem;
			
				@include maxWidth($sm-max){
					flex-direction: column;
					align-items: flex-start;
					justify-content: flex-start;
					gap: 12rem;
				}
			
				&-item{
					
						@include maxWidth($md-max){
							width: 100%;
						}
				}
		}
	
		& + main{
			padding-top: 74rem;
			
				@include maxWidth($sm-max){
					padding-top: 62rem;
				}
		}
}